---

mumble:
  server: localhost
  port: 64738
  username: doty-bot
  password: 'CHANGE ME'

irc:
  server: localhost
  port: 6667
  username: doty-bot
  channel: '#example'
  ssl: false
  ssl_verify: false

router:
  activation_word: doty
  wait_time: 1.5
  min_buffer_len: 0.5
  max_buffer_len: 60
  ignore: []
  startup_message: Reactor Online. Sensors Online. Weapons Online. All Systems Nominal.

transcriber:
  language: en-US
  google_cloud_auth: 'path/to/creds.json'  
  hint_phrases: []

speaker:
  language: en-US
  google_cloud_auth: 'path/to/creds.json'  
  # https://cloud.google.com/text-to-speech/docs/voices
  voice: en-US-Wavenet-E
  # https://cloud.google.com/text-to-speech/docs/audio-profiles
  effect_profiles:
    - handset-class-device
  sample_rate: 48000
