---

# In addition to being an example config file, this is file is loaded to set
# default values for any keys missing from the user config, so the user only
# needs to specify values that they are overriding

main:
  # initial time to wait to restart a crashed process
  restart_wait: 3
  # restart time is multiplied by this every time a restart is triggered
  restart_factor: 1.5
  # max restart wait time
  restart_max: 300

mumble:
  server: localhost
  port: 64738
  username: doty-bot
  password: 'CHANGE ME'

irc:
  server: localhost
  port: 6667
  username: doty-bot
  channel: '#example'
  ssl: false
  ssl_verify: false
  # Allow connections via IPv6, does not require the connection to be via IPv6
  #   only disable this if the IPv6 stack is completely disabled on the host
  allow_ipv6: true

router:
  # how long to wait after the last audio packet recieved from a user before
  # sending the audio off for transcription
  wait_time: 1.5
  # the minimum length of an audio clip to bother transcribing
  min_buffer_len: 0.5
  # length of time to store a buffer of the mixed audio stream for !replay and !clip
  mixed_buffer_len: 120
  # username/nicks to ignore in IRC and Mumble, applies to both text and audio
  ignore: []
  # This will be spoken at bot startup, set to null or '' (empty string) to disable
  # https://www.youtube.com/watch?v=QrWAdq8e_uA
  startup_message: Reactor Online. Sensors Online. Weapons Online. All Systems Nominal.
  # set this to false to make the bot ignore any !commands
  enable_commands: true
  command_params:
    # the words or phrases to signal a voice command, think "ok google" or "alexa"
    activation_words:
      - doty
      - dodie
    # WolframAlpha Client ID
    wolframalpha_api_key: 'CHANGE-ME'

    icecast_base_url: 'https://overviewer.org/radio'
    youtube_api_key: 'CHANGE-ME'

transcriber:
  # one of:
  #   - coqui-stt: local speech-to-text, worse results than most online services
  #   - vosk: local speech-to-text, pretty good results
  #   - ibm-watson: IBM's Watson STT service
  engine: vosk
  engine_params: {}
    ### coqui-stt
    # # https://stt.readthedocs.io/en/latest/DEPLOYMENT.html#download-models
    # model_path: 'path/to/model.pbmm'
    # scorer_path: 'path/to/scorer.scorer'
    # # https://github.com/tuxu/python-samplerate/blob/master/samplerate/converters.py#L15
    # # should be one of: sinc_best, sinc_medium, sinc_fastest, zero_order_hold, linear
    # resample_method: sinc_best

    ### vosk
    # # https://alphacephei.com/vosk/models
    # model_path: 'path/to/model-dir'
    # resample_method: sinc_best

    ### ibm-watson
    # api_key: 'CHANGE ME'
    # service_url: 'https://stream.watsonplatform.net/speech-to-text/api'
    # # https://cloud.ibm.com/docs/services/speech-to-text/models.html
    # model: en-US_BroadbandModel
  # an optional, extra vocabulary to help recognize words
  hint_phrases: []
  # path to save audio data to
  save_to: null
  # only save the audio clips, don't transcribe
  save_only: false

speaker:
  # one of:
  #   - coqui-tts
  #   - gcloud-tts
  engine: coqui-tts
  engine_params: {}
    ### coqui-tts
    # model: en/ljspeech/tacotron2-DDC
    # vocoder: null
    # resample_method: sinc_best

    ### gcloud-tts
    # credentials_path: 'path/to/creds.json'
    # # https://cloud.google.com/text-to-speech/docs/voices
    # language: en-US
    # voice: en-US-Wavenet-E
    # # [0.25, 4.0]
    # speed: 1.0
    # # [-20.0, 20.0]
    # pitch: 0.0
    # # [-96.0, 16.0]
    # volume: 0.0
    # # https://cloud.google.com/text-to-speech/docs/audio-profiles
    # effect_profiles:
    #   - handset-class-device
