---

main:
  irc_socket: sopel.sock

mumble:
  server: localhost
  username: doty-bot
  password: CHANGE ME

irc:
  server: chat.freenode.net
  port: 6697
  ssl: True

  username: doty-bot
  owner: CHANGE ME

  channels:
    - '#doty'

worker:
  speech_lang: en-US
  google_cloud_auth: 'path/to/gcloud-creds.json'
  buffer_time: 30
  wait_time: 2.0
  min_speech_length: 0.5
  hint_phrases: []
