# these are required for some of the things in requirements.txt to build
#   successfully, but are not either not explicitly listed or pip doesn't handle
#   them right
Cython==0.29.23
numpy==1.19.5
scipy==1.10.0
setuptools-rust==0.12.1
