PyYAML==3.13
Pygments==2.3.1
appnope==0.1.0
backcall==0.1.0
beautifulsoup4==4.7.1
cachetools==3.1.0
certifi==2018.11.29
chardet==3.0.4
decorator==4.3.2
dnspython==1.16.0
geoip2==2.9.0
git+https://github.com/azlux/pymumble.git@pymumble_py3
google-api-core==1.7.0
google-auth==1.6.2
google-cloud-speech==0.36.3
googleapis-common-protos==1.5.6
grpcio==1.18.0
idna==2.8
inflect==2.1.0
ipython-genutils==0.2.0
ipython==7.2.0
irc==17.0
jaraco.classes==2.0
jaraco.collections==2.0
jaraco.functools==2.0
jaraco.itertools==4.4.1
jaraco.logging==2.0
jaraco.stream==2.0
jaraco.text==2.0
jedi==0.13.2
maxminddb==1.4.1
more-itertools==5.0.0
opuslib==2.0.0
parso==0.3.3
pexpect==4.6.0
pickleshare==0.7.5
praw==5.4.0
prawcore==0.14.0
prompt-toolkit==2.0.8
protobuf==3.6.1
ptyprocess==0.6.0
pyasn1-modules==0.2.4
pyasn1==0.4.5
pymumble==0.3.1
pytz==2018.9
requests==2.21.0
rsa==4.0
six==1.12.0
sopel==6.6.2
soupsieve==1.7.3
tempora==1.14
traitlets==4.3.2
update-checker==0.16
urllib3==1.24.1
wcwidth==0.1.7
xmltodict==0.11.0
