beautifulsoup4==4.9.3
contexttimer==0.3.3
Cython==0.29.23
fuzzywuzzy==0.18.0
google-api-python-client==2.5.0
google-cloud-texttospeech==2.3.0
irc==19.0.1
jsonschema==3.2.0
numpy==1.19.5
numpy-ringbuffer==0.2.1
pymumble==1.6.1
python-Levenshtein==0.12.2
PyYAML==5.4.1
requests==2.25.1
samplerate==0.1.0
setproctitle==1.2.2
setuptools-rust==0.12.1
snips-nlu==0.20.2
stt==0.10.0a6
https://github.com/aheadley/TTS/archive/refs/heads/main.tar.gz
vosk==0.3.27
watson-developer-cloud==2.10.1
wolframalpha==5.0.0
